.texto-azul {
    color: blue;
  }
  
  .texto-rojo {
    color: red;
  }
  
  .boton-verde {
    background-color: green;
    color: white;
  }
  .contenedor-centrado {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
  }